<div class="row">
  <h1 class="mt-3 text-center fs-2">
    {{ingredients != undefined ?ingredients[0].recette : 'Ma recette'}}
  </h1>

  <div class="container col-12 col-lg-4 p-3">
      <div class="row justify-content-center mt-5 shadow pb-3 pt-3">
        <div class="col-10 col-lg-6"> 
    
          <form #form2 ="ngForm" (submit)="formulaire2(form2, ingredient.id)">
            <legend class="fs-3">Nouvel ingrédient</legend>
            <input type="hidden" name="id" [(ngModel)]="ingredient.id">
            <div class="form-group">
              <label for="titre">Titre</label>
              <input [(ngModel)]="ingredient.titre" 
                type="text" class="form-control" 
                name="titre" 
                id="titre" 
                aria-describedby="titre" 
                placeholder="Titre" required>
            </div>
            <div class="form-group">
              <label for="quantite">Quantité</label>
              <input [(ngModel)]="ingredient.quantite" 
                type="number" class="form-control" 
                name="quantite" 
                id="quantite" 
                aria-describedby="quantite" required>
            </div>
            <div class="form-group">
              <label for="unite">Unité</label>            
              <select name="unite" id=""
                  [(ngModel)]="ingredient.unite"
                  class="form-select" required>
                <option value="lt">litre</option>
                <option value="kg">kg</option>
                <option value="gr">grammes</option>
                <option value="ml">ml</option>
                <option value="unite">unité</option>
              </select>
            </div> 
            <input type="hidden" name="id_recette" [(ngModel)]="ingredient.id_recette">
            <button type="submit" class="btn btn-primary mt-3">Valider</button>
          </form>
        </div>
      </div>
  </div>

  <div class="container col-11 col-lg-6  mt-5 shadow pb-4">
    <h2 class="fs-3">Ingrédients :</h2>
      
    <div class="card mt-3 p-2 border-0 shadow" >
    
        <!-- <h1 class="text-center">{{ elmt.titre }}</h1>
        <img [src]="elmt.photo" alt=""> -->
        <ul *ngFor="let elmt of ingredients" class=" w-100" >
            <li class="d-flex align-items-end justify-content-between w-100">
              <span class="fs-5 fw-bold">{{ elmt.titre }} </span> 
              <span class=> {{ elmt.quantite }} {{ elmt.unite }}</span>
              <div class="">
                  <a  
                      (click)="delete(elmt.id)"
                      class="card-link btn btn-warning">
                      Supprimer
                  </a>
              </div>
                
            </li>
        </ul>
    
      
    </div>
  </div>
  <a  
    [routerLink]="['../../listRecipe']"
    class="card-link btn btn-primary w-25 mt-5 mx-auto">
    Liste de recettes
  </a>
  <a  
    [routerLink]="['../../formRecipe', ingredient.id_recette]"
    class="card-link btn btn-info w-25 mt-5 mx-auto">
    Retour à la recette
  </a>
 
</div>
