<div class="container d-flex justify-content-lg-between" *ngIf="id_recette == null " >
    
    <div class="card" *ngFor="let elmt of recipes">
    
        <h1>{{ elmt.titre }}</h1>
        <img [src]="elmt.photo" alt="">
    
        <div class="card-body">
            <a  class="card-link btn btn-info"
                [routerLink]="['/oneRecipe',elmt.id]">
                <!-- (click)="voirRecette(elmt.id)"> -->
                Voir la recette
            </a>
            <!-- <div *ngIf="id_recette != '0'" > 

                <ul *ngFor="let elmt of ingredients">
                    <li>ingredients</li>
                </ul>
        
            </div>  -->
                
            <a  class="card-link btn btn-info"
                [routerLink]="['/formIngredient',elmt.id]">
                Ingrédients
            </a>
            <a class="card-link btn btn-warning"
                [routerLink]="['/formEtape',elmt.id]">
                Etapes
            </a>
            <a  class="card-link btn btn-info"
               (click)="addFavoris(elmt.id)">
                Ajouter aux favoris
            </a>
            <a  class="card-link btn btn-warning"
                [routerLink]="['/formRecipe', elmt.id]">Modifier</a>
            <a  
                (click)="delete(elmt.id)"
                class="card-link btn btn-success">
                Supprimer
            </a>
            
          </div>
    
    </div>
   

</div>
