<h1 class="text-center mt-4">{{ titre }}</h1>

<div class="container-card">
    <div class="card" *ngFor="let elmt of recettes">
        <h1>{{ elmt.titre }}</h1>
        <img src="{{ elmt.photo }}" alt="">

        <app-button-detail 
            [descriptif]="elmt.descriptif" 
            [ingredients]="elmt.ingredients" 
            [cout]="elmt.cout" 
            [difficulte]="elmt.difficulte" 
            [tempsCuisson]="elmt.tempsCuisson" 
            [tempsPrep]="elmt.tempsPrep" 
        >
        </app-button-detail>
    </div>
</div>